* {
    box-sizing: border-box;
}

body {
    /* margin: auto;
    max-width: 600px; */
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

:root {
    --primary-color: #8b5cf6
}

td,
th {
    border: 2px solid var(--primary-color);
    width: 0%;
    padding: 0.4rem;
}

table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}

label,
button {
    display: block;

}

input {
    width: 25%;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
}
input[type="number"]:focus{
    border-color: var(--primary-color) ;
    outline: none;
}

h1 {
    color: var(--primary-color);
    margin-block-end: 0;
}

label {
    font-size: large;
    padding: 1rem;
    font-weight: 00;
}

button {
    background-color: var(--primary-color);
    border: none;
    font-size: x-large;
    padding: 1rem;
    margin: 2rem;
    border-radius: 15%;
    cursor: pointer;
    color: white;
    ;

}



caption{
    padding: 2rem;
    font-size: x-large;
}